.contact {
  text-align: center;
  margin-top: 5rem;
  padding-top: 5rem;
  padding-bottom: 10rem;
}

@media screen and (min-width: 60rem) {
  .contact {
    margin-top: 20rem;
    padding-top: 10rem;
    padding-bottom: 20rem;
  }
}
