.cta-buttons {
    align-self: flex-start;
    padding: 1rem;
    border-radius: 1rem;
    text-decoration: none;

    &:active {
        box-shadow: none;
        transform: translateY(5px);
    }

    &:visited {
        color: $textcolors;
    }
}