@import "variables";

.hero-banner {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1,
  h2 {
    margin: 1rem 0;
    align-self: flex-start;
  }

  h1 {
    // Line break
    white-space: pre-wrap;
  }

  // Fade in animation
  h2,
  .cta-about {
    opacity: 0;
    animation-name: fadein;
    animation-duration: 2000ms;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .cta-about {
    background-color: $navcolorabout;
    box-shadow: 0 5px 0 $navcoloraboutsecondary;
  }
}
