@use 'typography';

$headerfont : 'Fuzzy-Bubbles-Bold';
$textfont : 'Montserrat-Regular';

$textcolors : #000000;
$navcolorhome : #E76F51;
$navcolorabout : #F4A261;
$navcoloraboutsecondary: #c98751;
$navcolorprojects : #E9C46A;
$navcolorcontact : #6EA3BF;